body{
    
    background-color: rgb(220, 213, 227);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
h1{
    color: rgb(46, 47, 47);
    font-weight: 700;
    font-size: 45px;
    margin: 15px;
}
input {
    width: 100%;
    background-color: bisque;
    color: black;
}
.item-container{
    text-align: left;
}
.kg-row{
    margin: 10px 5px;

}
.kg-btn,.kg-btn_add{
    width: 100px;
    margin-left: 75%;
    
}
.kg-btn:hover{
    background-color: rgb(92, 95, 95);
    
}
.kg-btn_add{
    margin-left: 95%;
}